---
import ArticleCard from "@components/ArticleCard.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import { Frontmatter, sortDateDescending } from "src/misc";

const allPosts = await Astro.glob<Frontmatter>("../pages/blog/articles/*.md");
const posts = sortDateDescending(
	allPosts.filter((post) => post.frontmatter.draft != true)
).slice(0, 3);
---

<BaseLayout title="Home" activeLink="home">
	<div
		class="flex-grow flex justify-center fixed top-0 left-0 z-0"
		style="z-index:-1"
	>
		<video autoplay loop muted id="vid">
			<source
				src="/images/my-third-article/brighton2.mov"
				type="video/mp4"
			/>
			Your browser does not support the video tag.
		</video>
	</div>
	<section
		class="flex flex-row sm:flex-row justify-center max-w-[90%] w-[52rem] mx-auto gap-10 mb-10"
	>
		<div class="flex flex-col flex-wrap flex-grow">
			<div>
				<h1
					class="text-center bg-gradient-to-r text-green-100 bg-clip-text text-5xl"
				>
					W A N D E R W I S E <span class="font-bold">!</span>
				</h1>
				<p class="text-white">
					OUR PRIORITY: Providing you with all the information needed
					to plan with ease and create the perfect holiday within your
					budget. Experience hassle-free planning and focus on what
					truly matters - unwinding and enjoying your time away. Let's
					get to planning!
				</p>
			</div>
			<p class="text-center text-white font-bold">
				"Unlock the World: Embrace Your Travel Dreams at Your Desired
				Price Point!"
			</p>
			<div class="flex flex-wrap justify-center gap-5 mt-4"></div>
			<button class="rounded-full bg-emerald-900 text-green-100 py-2">
				<a href="http://calculator-1.com/outdoor/?f=666666&r=000000"
					>Calculate your budget here</a
				></button
			>
		</div>
	</section>
	<section>
		<h2
			class="mx-auto text-center mb-8 text-emerald-600 bg-clip-text text-4xl border-b-2 border-emerald- font-semibold w-fit"
		>
			Key Tips For You
		</h2>

		<div class="flex flex-wrap flex-col justify-center gap-12">
			{posts.map((post) => <ArticleCard content={post} />)}
		</div>
	</section>
</BaseLayout>
