---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout title="International Travel" activeLink="international-travel">
    <div class="container max-w-xl m-auto">
        <h1
            class="text-center bg-gradient-to-r text-emerald-400 bg-clip-text text-5xl mb-[0.7em] font-bold"
        >
            INTERNATIONAL PACKAGES
        </h1>
        <p class="text-center font-bold">
            Dreaming of experiencing the rich history, vibrant cultures, and
            breathtaking landscapes of the Middle East? Contrary to popular
            belief, visiting this mesmerizing region doesn't have to break the
            bank. With careful planning and a few budget-savvy strategies, you
            can embark on an unforgettable Middle Eastern adventure without
            compromising your finances. lets plan your trip!
        </p>
        <div
            class="mt-20 card sm:card-side bg-base-200 max-w-[90%] w-[52rem] mx-auto scale-1 hover:scale-105 transition-[scale_250ms] shadow-[0px_0px_20px_2px_rgb(0_0_0_/_50%)] dark:shadow-[0px_0px_20px_2px_rgb(255_255_255_/_50%)] focus-within:outline focus-within:outline-2 focus-within:outline-secondary"
        >
            <figure class="pt-4 sm:pt-0 rounded">
                <img
                    width="300"
                    height="200"
                    class="m-2 max-w-[300px] max-h-[200px] aspect-video"
                    src="/images/my-third-article/thailand2.jpg"
                    alt="SOUTH ASIA"
                />
            </figure>
            <div class="card-body">
                <h2 class="card-title">
                    SOUTH ASIA PACKAGES - £1000 and under!
                </h2>
                <p class="line-clamp-4 md:line-clamp-3"></p>
                <div class="card-actions justify-end items-center">
                    <a href="#" class="btn btn-outline btn-primary capitalize"
                        >Read more&mldr;</a
                    >
                </div>
            </div>
        </div>
        <div
            class="mt-20 card sm:card-side bg-base-200 max-w-[90%] w-[52rem] mx-auto scale-1 hover:scale-105 transition-[scale_250ms] shadow-[0px_0px_20px_2px_rgb(0_0_0_/_50%)] dark:shadow-[0px_0px_20px_2px_rgb(255_255_255_/_50%)] focus-within:outline focus-within:outline-2 focus-within:outline-secondary"
        >
            <figure class="pt-4 sm:pt-0 rounded">
                <img
                    width="300"
                    height="200"
                    class="m-2 max-w-[300px] max-h-[200px] aspect-video"
                    src="/images/my-third-article/dubai2.jpg"
                    alt="THE MIDDLE EAST"
                />
            </figure>
            <div class="card-body">
                <h2 class="card-title">
                    THE MIDDLE EAST PACKAGES - 4 countries for £1500!
                </h2>
                <p class="line-clamp-4 md:line-clamp-3">description</p>
                <div class="card-actions justify-end items-center">
                    <a href="#" class="btn btn-outline btn-primary capitalize"
                        >Read more&mldr;</a
                    >
                </div>
            </div>
        </div>
        <div
            class="mt-20 card sm:card-side bg-base-200 max-w-[90%] w-[52rem] mx-auto scale-1 hover:scale-105 transition-[scale_250ms] shadow-[0px_0px_20px_2px_rgb(0_0_0_/_50%)] dark:shadow-[0px_0px_20px_2px_rgb(255_255_255_/_50%)] focus-within:outline focus-within:outline-2 focus-within:outline-secondary"
        >
            <figure class="pt-4 sm:pt-0 rounded">
                <img
                    width="300"
                    height="200"
                    class="m-2 max-w-[300px] max-h-[200px] aspect-video"
                    src="/images/my-third-article/JAPAN.jpg"
                    alt="London"
                />
            </figure>
            <div class="card-body">
                <h2 class="card-title">
                    EAST ASIA PACKAGES - Japan and Mongolia for under £800!
                </h2>
                <p class="line-clamp-4 md:line-clamp-3">description</p>
                <div class="card-actions justify-end items-center">
                    <a href="#" class="btn btn-outline btn-primary capitalize"
                        >Read more&mldr;</a
                    >
                </div>
            </div>
        </div>
    </div>

    <h2
        class="mx-auto mt-20 text-center mb-8 text-emerald-600 text-transparent bg-clip-text text-3xl border-b-2 border-emerald- font-semibold w-fit"
    >
        Not the right time? <h1></h1>
    </h2>

    <p class="font-semibold mb-20 text-center">
        We'll be here when you are ready!
    </p>
</BaseLayout>
