---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout>
    <div
        class="flex-grow flex justify-center fixed top-0 left-0 z-0"
        style="z-index:-1"
    >
        <video autoplay loop muted id="vid">
            <source
                src="/images/my-third-article/brighton2.mov"
                type="video/mp4"
            />
            Your browser does not support the video tag.
        </video>
    </div>
    <div
        <h1
        class="text-center bg-gradient-to-r text-emerald-500 bg-clip-text text-5xl mb-[0.7em] font-bold"
    >
        Get to know me...
    </div>
    <p class="text-center text-white font-bold">
        My name is Leyan Al-Maghafi and I am from Yemen, a country with a rich
        history and diverse culture. Growing up, my life was somewhat different
        from the norm, as my father is a diplomat. This presented me and my
        family with the unique opportunity to live in different countries
        including Switzerland and the United Kingdom. Through this experience, I
        developed a deep appreciation for travel and cultural exchange.
    </p>
    <img
        width="400"
        height="900"
        class="m-2 max-w-[700px] max-h-[800px] aspect-video mx-auto"
        src="/images/my-third-article/me-in-spain.jpg"
    />
    <p class="text-emerald-400 text-center font-bold">My visit to Barcelona</p>
    <p class="text-center text-white font-bold">
        Now, as a university student studying Economics and Politics, I find
        that my academic background further enriches my travels. Understanding
        the social and economic fabric of the places I visit brings a greater
        depth to my experiences. Travel for me is more than just visiting
        places; it is about connecting with people, immersing myself in
        different cultures, and broadening my perspective. In this website, I
        aim to share practical travel advice and insights that I have gathered
        from my journeys. My goal is to help you plan your trips in an informed
        and insightful way. Thank you for visiting. I hope that this website
        inspires you to explore the world and embrace the learning and growth
        that comes through travel.
    </p>
    <img
        width="400"
        height="900"
        class="m-2 max-w-[700px] max-h-[800px] aspect-video mx-auto"
        src="/images/my-third-article/me-in-turkey.jpg"
    />
    <p class="text-emerald-400 text-center font-bold">
        My family trip to Turkey
    </p>

    <p class="text-center text-white font-bold">
        Travel for me is more than just visiting places; it is about connecting
        with people, immersing myself in different cultures, and broadening my
        perspective. In this website, I aim to share practical travel advice and
        insights that I have gathered from my journeys. My goal is to help you
        plan your trips in an informed and insightful way.
    </p>
    <img
        width="400"
        height="900"
        class="m-2 max-w-[700px] max-h-[800px] aspect-video mx-auto"
        src="/images/my-third-article/me-in-slovakia.jpg"
    />
    <p class="text-emerald-400 text-center font-bold">Me exploring Slovakia</p>
    <p class="text-center text-white font-bold">
        Thank you for visiting. I hope that this website inspires you to explore
        the world and embrace the learning and growth that comes through travel.
    </p>
    <p class="text-center text-emerald-400 font-bold">
        KEEP DISCOVERING, KEEP WANDERING
    </p>
</BaseLayout>
